In [26]:
import pandas as pd
import geopandas as gpd

In [27]:
path_popolazioni = f'../dataset/popolazioni/popolazioni.csv'
path_comuni = f'../dataset/dati_spaziali/comuni/comuni.shp'

In [28]:
popolazioni = pd.read_csv(path_popolazioni)

Creazione del dataframe con colonne 'id_comune', 'anno', 'numero_maschi', 'numero_femmine'

In [29]:
popolazioni = popolazioni[['ITTER107', 'Sesso', 'TIME', 'Value']]
popolazioni_finale = pd.DataFrame(columns = ['id_comune', 'anno', 'numero_maschi', 'numero_femmine'])

In [30]:
comuni = gpd.read_file(path_comuni)
comuni_codici = set(comuni['PRO_COM'])

In [31]:
id_comuni = set(popolazioni['ITTER107'])
for c in id_comuni:
    if c in comuni_codici:
        popolazioni_comune = popolazioni[popolazioni['ITTER107'] == c]
        anni_comune = set(popolazioni_comune['TIME'])
        for a in anni_comune:
            num_maschi = popolazioni_comune[(popolazioni_comune['TIME'] == a) & (popolazioni_comune['Sesso'] == 'maschi')]['Value'].values[0]
            num_femmine = popolazioni_comune[(popolazioni_comune['TIME'] == a) & (popolazioni_comune['Sesso'] == 'femmine')]['Value'].values[0]
            riga = [c, a, num_maschi, num_femmine]
            popolazioni_finale.loc[popolazioni_finale.shape[0]] = riga

In [32]:
popolazioni_finale.head()

   id_comune  anno  numero_maschi  numero_femmine
0      73023  2019            880             917
1      73023  2020            884             910
2      75059  2019           4212            4631
3      75059  2020           4195            4595
4      73024  2019           7107            7575

In [33]:
popolazioni_finale.to_csv('../dataset/popolazioni/popolazioni_finale.csv', index=None)